@import "tailwindcss";

:root {
  --primary: #2563eb;
}

body {
  background-color: #020617; /* bg-slate-950 */
  color: #f1f5f9; /* text-slate-100 */
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  user-select: none;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
